*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: fantasy;
    color:midnightblue;
    background-image: url("/img/images.jpg");
}

header div{
    background-color: orchid;
    text-align: center;
}

p{
    font-size: 1.3rem;
}

section .disculpa{
    margin-top: 20px;
    text-align: center;
    background-color:teal;
}

section .disculpa img{
    margin-bottom: 3rem;
    margin-top: 2rem;
    
}

section .emo{
    background-color:darkslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:darkred;
    font-size: 2rem;
    text-align: right;
    width: 90%;
    margin: 0 auto;
    
}

section .emo img{
    margin-left:1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}


h1{
    font-family: 'Times New Roman', Times, serif;
    color:tomato;
    font-size: 3rem;
}

footer{
    background-color: firebrick;
    color:indigo;
    
}

footer p{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: lightcoral;
    text-align: right;
}
